@font-face {
  font-family: "iconfont"; /* Project id 4351020 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1709287665570') format('woff2'),
       url('iconfont.woff?t=1709287665570') format('woff'),
       url('iconfont.ttf?t=1709287665570') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-detlogon:before {
  content: "\e600";
}

