html,
body {
  padding: 0;
  margin: 0;
}
.el-footer {
  height: unset !important;
}
* {
  font-family: Helvetica,   'Helvetica Neue',   'PingFang SC',   'Hiragino Sans GB',   'Microsoft YaHei', Arial,
    sans-serif;
}
div {
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  outline: none;
  color: #000000;
}
.common_btn {
  padding: 12px 24px;
  border-radius: 25px;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  min-width: 280px;
  box-sizing: border-box;
}
.common_btn_hover_bgColor:hover {
  background-color: #dc593b !important;
}
.common_btn_hover_borderCu:hover {
  border: 2px solid #201515 !important;
  padding: 11px 22px;
  /* box-sizing: border-box; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
@media screen and (max-width: 1000px) {
  *::-webkit-scrollbar {
    display: none;
  }
}
