.bank_wrapper {
    padding: 0 30px;
    overflow: hidden;
    background: linear-gradient(#ffefe1 0%, #ffffff 657px, #ffffff 0px, #ffffff);

    .bank {
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 56px;

        .banner_wrapper {
            margin-bottom: 174px;

            @media (max-width: 986px) {
                margin-bottom: 80px;
            }

            .banner {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 40px;

                @media (max-width: 986px) {
                    grid-template-columns: 1fr;
                }

                .banner_left {
                    .big_title {
                        h1 {
                            font-weight: 600;
                            font-size: 56px;
                            color: #201515;
                            margin: 0;

                            @media (max-width: 986px) {
                                text-align: center;
                            }

                            @media (max-width: 450px) {
                                font-size: 24px;
                            }
                        }
                    }

                    .desc {
                        font-weight: 400;
                        font-size: 20px;
                        color: #201515;
                        margin-top: 32px;

                        @media (max-width: 450px) {
                            font-size: 16px;
                        }
                    }

                    .people_num {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        margin-top: 40px;
                        grid-gap: 8px;

                        .icon_continer {
                            width: 128px;
                            position: relative;
                            height: 32px;
                            flex-shrink: 0;

                            .one_icon {
                                width: 32px;
                                height: 32px;
                                position: absolute;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            .left0 {
                                left: 0;
                            }

                            .left24 {
                                left: 24px;
                            }

                            .left48 {
                                left: 48px;
                            }

                            .left72 {
                                left: 72px;
                            }

                            .left96 {
                                left: 96px;
                            }
                        }

                        .font {
                            font-weight: 400;
                            font-size: 16px;
                            color: #403f3e;

                            @media (max-width: 450px) {
                                font-size: 14px;
                            }
                        }
                    }

                    .btn {
                        width: fit-content;
                        margin-top: 40px;
                        padding: 12px 32px;
                        background: #f66442;
                        border-radius: 25px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        grid-gap: 8px;
                        cursor: pointer;

                        .font {
                            font-weight: 500;
                            font-size: 18px;
                            color: #ffffff;
                        }

                        .icon {
                            width: 24px;
                            height: 24px;


                        }

                        &:hover {
                            .icon {
                                transform: translateX(8px);
                                transition: all 0.2s;
                            }

                        }
                    }
                }

                .banner_right {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @media (max-width: 986px) {
                        display: none;
                    }

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }

        .content {
            .one_card {
                margin-bottom: 120px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 80px;
                grid-template-areas: "one_card_left  one_card_right";

                @media (max-width: 986px) {
                    margin-bottom: 80px;
                }

                .one_card_left {
                    grid-area: one_card_left;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 100%;
                        border-radius: 18px;
                    }
                }

                .one_card_right {
                    grid-area: one_card_right;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .one_card_right_forMid {
                        .right_title {
                            font-weight: 500;
                            font-size: 32px;
                            color: #201515;

                            @media (max-width: 450px) {
                                font-size: 22px;
                            }
                        }

                        .right_desc {
                            font-weight: 400;
                            font-size: 20px;
                            color: #403f3e;
                            margin-top: 40px;

                            @media (max-width: 450px) {
                                font-size: 16px;
                            }

                            .strong {
                                font-weight: 600;
                            }
                        }

                        .right_click {
                            margin-top: 42px;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            grid-gap: 8px;
                            cursor: pointer;

                            .font {
                                font-weight: 500;
                                font-size: 20px;
                                color: #ff7c0e;
                                height: 28px;
                                line-height: 28px;
                                border-bottom: 1px white solid;

                                &:hover {
                                    border-bottom: 1px #ff7c0e solid;
                                }
                            }

                            .arrow {
                                width: 24px;
                                height: 24px;
                                position: relative;
                                top: 2px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }

                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            &:hover {
                                .arrow {
                                    transform: translateX(8px);
                                    transition: all 0.2s;
                                }
                            }
                        }
                    }
                }
            }

            .img_left {
                grid-template-areas: "one_card_left  one_card_right";

                @media (max-width: 986px) {
                    grid-template-columns: 1fr;
                    grid-template-areas: "one_card_left""one_card_right";
                    grid-gap: 40px;
                }
            }

            .img_right {
                grid-template-areas: " one_card_right one_card_left";

                @media (max-width: 986px) {
                    grid-template-columns: 1fr;
                    grid-template-areas: "one_card_left""one_card_right";
                    grid-gap: 40px;
                }
            }
        }
    }
}

.service_out {
    .bank_wrapper {
        background: linear-gradient(#FFF3F0 0%, #ffffff 657px, #ffffff 0px, #ffffff);
    }

    .right_click {
        .font {
            color: #F66442 !important;

            &:hover {
                border-bottom: 1px #F66442 solid !important;
            }
        }
    }
}

.bank_out {
    .bank_wrapper {
        background: linear-gradient(#ECF7FF 0%, #ffffff 657px, #ffffff 0px, #ffffff);
    }

    .right_click {
        .font {
            color: #3E8BF8 !important;

            &:hover {
                border-bottom: 1px #3E8BF8 solid !important;
            }
        }


    }
}